@import "https://fonts.googleapis.com/css2?family=Oswald&display=swap";

body,
html {
    margin: 0;
    padding: 0;
}

#chat {
    width: 480px;
    height: 480px;
    border: 2px solid silver;
    max-width: calc(100vw - 40px);
    font-family: "Oswald", sans-serif;
    position: relative;
    background: white;
}

.chat_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 5px solid gray;
    color: #black;
    margin-bottom: 8px;
    font-size: 18px;
    background: #black;
}

.chat {
    margin: 14px;
    border: 3px solid #black;
    padding: 8px;
    width: 220px;
    border-radius: 10px 10px 10px 0;
    max-width: calc(100% - 48px);
    font-size: 0.85em;
    word-break: break-word
}

.chat_name {
    text-transform: uppercase;
    font-size: 0.75em;
    margin: 4px 0 2px;
}

.chat_other {
    border-radius: 10px 10px 0 10px;
    margin-left: calc(100% - 249px);
    border-color: grey;
}

#chat form {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

#chat input[type="text"] {
    width: calc(100% - 70px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid grey;
    font-family: "Montserrat", sans-serif;
}

#chat input[type="submit"] {
    width: 70px;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    margin-left: -1px;
    border: 1px solid grey;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

    #chat input[type="submit"]:hover {
        background: grey;
        color: #fff;
    }

#chat_s {
    overflow-y: scroll;
    max-height: 360px;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 4px #fff;
    background: rgba(0, 0, 0, 0.2);
}
